* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #5b5b5b;
  border: 1px solid #272727;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #2c2c2c;
  border: 1px solid #272727;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1e1e1e;
}

html {
  font-size: 16px;
}

main {
  margin-top: 4rem;
}

body {
  font-family: "Ubuntu", sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0px;
  display: grid;
  background: #3A442A;
  font-size: 1.2rem;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: auto auto;
}

.logo, .burger {
  order: 1;
  margin: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 1.3em;
}

.logo img {
  height: 2em;
}


.nav-links {
  order: 2;
  grid-column: 1 / 3;
  margin-left: 0.8em;
  margin-bottom: 0.5em;
  list-style: none;
  display: none;
}

.nav-active {
  display: block;
  animation: nav-animation 0.5s ease-out 0s 1 normal;
}

.nav-links a{
  text-decoration: none;
  color: white;
  letter-spacing: 0.2em;
  font-weight: 600;
}

.socials {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.socials img {
  height: 1.5em;
}

.burger div{
  width: 1.6em;
  height: 0.16em;
  margin: 0.18em;
  background: white;
  transition: all 0.3s ease;
}

@keyframes nav-animation{
  0% {
    opacity: 0;
    height: 0em;
  }
  100% {
    opacity: 0;
    height: 7em;
  }
}

@keyframes nav-link-animation{
  0% {
    opacity: 0;
    transform: translateY(-1.25rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.toggle .line1 {
  transform: translate(0px, 0.52em)  rotate(-45deg);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: translate(0px, -0.52em)  rotate(45deg);
}




.intro {
  margin-top: 3.9em;
  height: calc(100vh - 3.9em);
  background: url("../Static/header-bg.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-container {
  align-self: end;
  display: flex;
}

.title {
  font-family: "Courgette", cursive;
  width: 90%;
  text-align: center;
  font-size: 3em;
  color: white;
  margin-top: auto;
  margin-bottom: 0.5em;
}

.subtitle {
  margin-bottom: auto;
  width: 90%;
  text-align: center;
  font-size: 1.2em;
  color: white;
}


@media screen and (min-width: 768px) {
  nav {
    font-size: 1rem;
    grid-template-columns: 2fr 5fr;
  }

  .nav-links {
    grid-column: 2/3;
    display: flex;
    margin: 0px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-link {
    flex: 2;
  }

  .nav-link a{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-links .icons{
    flex: 3;
  }

  .socials {
    margin-top: 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .socials > li {
    height: 100%;
    margin: 0.5em;
  }

  .burger {
    display: none;
  }

  .hover {
    transition: all 0.35s ease-in-out 0s;
  }

  .hover:hover {
    transform: scale(1.2);
  }

  .title {
    width: 80%;
  }

  .subtitle {
    width: 80%;
  }

}


@media screen and (min-width: 1024px) {
  .nav-links {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .title {
    width: 60%;
  }

  .subtitle {
    width: 60%;
  }
}